<!-- Bootstrap Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><img src="/images/logo.png" style="width: auto; height: 80px"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"
            ><i class="fa fa-home fa-xs"></i> Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/portfolio"
            ><i class="fa fa-diagram-project fa-xs"></i> Portfolio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/services"
            ><i class="fa fa-cart-shopping fa-xs"></i> Services</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about"
            ><i class="fa fa-user fa-xs"></i> About Me</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contact"
            ><i class="fa fa-envelope fa-xs"></i> Contact Me</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
