body {
    background:linear-gradient(0deg, rgba(96, 151, 92, 0.4), rgba(96, 151, 92, 0.4)), url('images/assignment_02_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #125D0D;
    background-color: rgba(114, 172, 118, 0.9);
    font-family: Arial;
    list-style: none;
}

.nav_list {
    display: inline;
    padding: 30px;
}

footer {
    text-align: center;
    font-size: 75%;
}

.content {
    max-width: 1000px;
    margin: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #125D0D;
    background-color: rgba(172, 209, 175, 0.7);
}

.text {
    max-width: 900px;
    margin: auto;
}

.columns{
    border-width: 1px;
    border-style: solid;
    border-color: #125D0D;
    background-color: rgba(172, 209, 175, 0.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: nowrap;
}

.column1{
    width: 50%;
    padding: 6px;
    margin: 40px;
}

@keyframes anim 
{
    from {opacity: 0%;}
    to{opacity: 100%;}
}

.fadein{
    animation-name: anim;
    animation-duration: 2s;
}