html{
    font-family: Arial;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(83, 81, 81);
    background-color: #b9b0b0;
    list-style: none;
}
        
.nav_list {
    display: inline;
    padding: 30px;
}

table, th, td {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 400px;
}

.content {
    max-width: 1000px;
    margin: auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(83, 81, 81);
    background-color: #b9b0b0;
}