<!-- @author:     Armando Lima  -->
<!-- @studentid:  301235438     -->
<!-- @date:       June 20, 2023 -->
<!-- @filename:   error.ejs     -->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
