<!-- @author:     Armando Lima  -->
<!-- @studentid:  301235438     -->
<!-- @date:       June 20, 2023 -->
<!-- @filename:   index.ejs     -->

<%- include('partials/header.ejs') %>
<%- include('partials/top_nav.ejs') %>

<link
  href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
<link href="cover.css" rel="stylesheet" />

<body
  class="cover-container d-flex flex-column text-center text-bg-dark"
>
<br />
<br />
<br />
<br />
<br />
<br />
    <h1>Armando Lima</h1>
    <p class="lead">
      In this website you can find all the details about myself, including the projects I worked with, the services I provide,
      my resume, and how to contact me.
    </p>
    <p class="lead">If you want to learn more about myself, click the button below!</p>
    <p class="lead">
      <a
        href="/about"
        class="btn btn-lg btn-light fw-bold border-white bg-white"
        >Learn more</a
      >
    </p>
</body>

<%- include('partials/bottom_nav.ejs') %> <%- include('partials/footer.ejs') %>