<!-- @author:     Armando Lima  -->
<!-- @studentid:  301235438     -->
<!-- @date:       June 20, 2023 -->
<!-- @filename:   portfolio.ejs -->

<%- include('partials/header.ejs') %> <%- include('partials/top_nav.ejs') %>

<link href="carousel.css" rel="stylesheet" />

<main>
  <div class="container marketing">
    <br />
    <h2 class="featurette-heading fw-normal lh-1" style="text-align: center;">Portfolio</h2>
    <br />
    <br />
    <div class="row featurette" id="firstFeaturette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          A new game is cooking!
          <span class="text-body-secondary">It’ll blow your mind.</span>
        </h2>
        <br />
        <p class="lead">
          I am developing a new 2D platform game inspired by the likes of
          Megaman.
        </p>
        <p class="lead">
          It is being developed entirely in C# using the Unity game engine.
        </p>
        <p class="lead">
          The first level of the game shall be released soon, so stay tuned!
        </p>
        <p class="lead">
          On the right you can see a sketch of the main character.
        </p>
      </div>
      <div class="col-md-5">
        <img src="images/art.png" width="250px" height="250px" />
      </div>
    </div>

    <hr class="featurette-divider" id="secondFeaturette" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">
          Simple web design.
          <span class="text-body-secondary">See for yourself.</span>
        </h2>
        <p class="lead">
          Gingerbread is a mock-up website I created to practice my web design
          using only HTML and CSS. You can find the link to the website
          <a href="https://hjorim.github.io/armandolima/project/homepage.html"
            >here</a
          >.
        </p>
        <p class="lead">
          You can more pages I have done while learning the basics of HTML, .CSS
          and JavaScript
          <a href="https://hjorim.github.io/armandolima">here</a>.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="images/gingerbread_logo.png" width="auto" height="100px" />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          Advanced web design with database integration.
          <span class="text-body-secondary">One project to rule them all.</span>
        </h2>
        <p class="lead">
          Hjorim's Lair is my go-to new website. Everything I have done in the
          past and plan on doing in the future will be uploaded here.
        </p>
        <p class="lead">
          It is done using a combination of HTML, CSS, JavaScript, Node.js,
          Express.js, and MongoDB.
        </p>
        <p class="lead">
          I decided against updating the past projects and working on this one
          to be able to see my progress as I learn more about web development.
        </p>
      </div>
      <div class="col-md-5">
        <img src="images/logo.png" width="auto" height="300px" />
      </div>
    </div>
    <hr class="featurette-divider" />
  </div>
</main>
<br />
<br />
<br />
<br />
<br />
<%- include('partials/bottom_nav.ejs') %> <%- include('partials/footer.ejs') %>
