<footer>
    <nav class="navbar fixed-bottom bg-body-tertiary">
        <div class="container-fluid">
            <h6 class="display-12 navbar-text"> &copy; copyright 2023. All rights reserved.</h6>
        </div>
    </nav>
</footer>
