<!-- @author:     Armando Lima   -->
<!-- @studentid:  301235438      -->
<!-- @date:       June 20, 2023  -->
<!-- @filename:   bottom_nav.ejs -->

<footer class="bg-dark text-center text-white fixed-bottom">
  <!-- Grid container -->
  <div class="container p-2 pb-0">
    <!-- Section: Links -->
    <section class="mb-2">
      <!-- Website -->
      <a class="btn btn-outline-light btn-floating m-1" href="/" role="button"
        ><i class="fa fa-home"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/armandolimaa/" target="_blank" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/hjorim" target="_blank" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright: Armando Lima. All rights reserved.
  </div>
  <!-- Copyright -->
</footer>