<!-- @author:     Armando Lima  -->
<!-- @studentid:  301235438     -->
<!-- @date:       June 20, 2023 -->
<!-- @filename:   footer.ejs -->

<!-- Script Section -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>