<%- include('partials/header.ejs') %> <%- include('partials/top_nav.ejs') %>

<link href="carousel.css" rel="stylesheet" />

<br />
<br />
<br />
<main>
  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7 order-md-1">
        <h2 class="featurette-heading fw-normal lh-1">About me</h2>
        <p class="lead">
          Hi! I am Armando Lima, a student at Centennial College who is an
          aspiring level and game designer with 1 year experience making games.
        </p>
        <p class="lead">
          I am also a storyteller with 12 years of experience as a Dungeon
          Master creating different set ups and worlds.
        </p>
        <p class="lead">Currently I am working on a new 2D-platform game.</p>
      </div>
      <div class="col-md-5 order-md-2">
        <img
          src="images/profile.jpg"
          alt="Profile Picture"
          class="box"
          style="
            width: 35%;
            border-radius: 50%;
          "
        />
      </div>
    </div>
  </div>
</main>

<%- include('partials/bottom_nav.ejs') %> <%- include('partials/footer.ejs') %>
